.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.w100 {
    width: 100%;
}

.w-clr {
    color: #FFF;
}

.displayf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
